<h3>Forget Pass</h3>
@TempData["msg"]
<form method="post" asp-action="forgetpassword" asp-controller="Account">
    Email: <input type="text" name="email" />
    <input type="submit" value="Forget" />
</form>