
<h3>@TempData["msg"]</h3>

<form asp-action="login" asp-controller="account" method="post">
    Username<input type="text" name="username"/>
    <br />
    Password<input type="password" name="password" />
    <br />
    <input type="submit" />
</form>